<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.book.smb215"
        version   = "1.0.7" >

    <name>Book App</name>

    <description>
      application pour etre utilise sans connection
    </description>

    <author href="http://cofares.com/" email="ahmadtout@gmail.com">
        Ahmad TOUT ISAE CNAM SMB215
    </author>
 
    <preference name="permissions"                value="none"/>
